@charset "UTF-8";

@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600;700&display=swap");

* {
  padding: 0;
  margin: 0;
  border: 0;
}

*,
*:before,
*:after {
  box-sizing: border-box;
}

:focus,
:active {
  outline: none;
}

a:focus,
a:active {
  outline: none;
}

nav,
footer,
header,
aside {
  display: block;
}

html,
body {
  height: 100%;
  width: 100%;
  font-size: 100%;
  line-height: 1;
  font-size: 14px;
  -ms-text-size-adjust: 100%;
  -moz-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
}

input,
button,
textarea {
  font-family: inherit;
}

input::-ms-clear {
  display: none;
}

button {
  cursor: pointer;
}

button::-moz-focus-inner {
  padding: 0;
  border: 0;
}

a,
a:visited {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-size: inherit;
  font-weight: inherit;
}

/*--------------------*/

.wrapper .madal_window__block .madal_window .body .user_name_block .user_name,
.wrapper .madal_window__block .madal_window .body .phone_block .phone_title,
.wrapper .madal_window__block .madal_window .body .problem_block .problem_title,
.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column .item__title,
.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li span,
.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__title,
.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__subtitle,
.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .title_kind,
.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .title_prise,
.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind,
.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise,
.wrapper .wrapper__grid .content .prise .prompt .text-container .text,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .region {
  font-size: 16px;
  font-weight: 600;
  color: #4A4A4B;
  opacity: 100%;
  line-height: 22px;
}

.wrapper .madal_window__block .madal_window .button__block .button,
.wrapper .wrapper__grid .content .main .container .main__block .title__container .title,
.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__text,
.wrapper .wrapper__grid .content nav .container .title,
.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__text,
.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__subtitle,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .title {
  font-size: 40px;
  font-weight: 700;
  color: #4A4A4B;
  opacity: 1;
  line-height: 54px;
  text-transform: uppercase;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .facebook,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .instagram,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .viber,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .telegram,
.wrapper .get_contact_button,
.wrapper .get_contact_button:hover,
.wrapper .madal_window__block,
.wrapper .madal_window__block .madal_window,
.wrapper .madal_window__block .madal_window .close,
.wrapper .madal_window__block .madal_window .close:hover,
.wrapper .madal_window__block .madal_window .button__block .button,
.wrapper .madal_window__block .madal_window .button__block .button:hover,
.wrapper .madal_window__block.active,
.wrapper .madal_window__block.active .madal_window,
.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img .img,
.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img:hover .img,
.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__img .img,
.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__img:hover .img,
.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__img .img,
.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__img:hover .img,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img .img,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img:hover .img,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .facebook:hover,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .instagram:hover,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .viber:hover,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .telegram:hover {
  transition: all 0.3s ease 0s;
}

.wrapper .wrapper__grid .content .problem .container .problem__block,
.wrapper .wrapper__grid .content .about_us .container .about_us__block,
.wrapper .wrapper__grid .content .what_we .container .what__block,
.wrapper .wrapper__grid .content .marcs .container .marcs__block {
  max-width: 1040px;
  min-height: 575px;
  margin: 0 auto;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column .item__image,
.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li .li__imeg,
.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__image {
  width: 75px;
  height: 75px;
  background-color: #4878F5;
  border-radius: 50%;
  margin-right: 20px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column .item__image img,
.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li .li__imeg img,
.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__image img {
  width: 48px;
  height: 48px;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .facebook,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .instagram,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .viber,
.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .telegram {
  position: relative;
  z-index: 50;
  cursor: pointer;
  width: 45px;
  height: 45px;
}

@-webkit-keyframes opacity_problem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@keyframes opacity_problem {
  0% {
    opacity: 0;
  }

  100% {
    opacity: 1;
  }
}

@-webkit-keyframes anim_phone {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  10% {
    transform: translate(0, -5px) rotate(0);
  }

  25% {
    transform: translate(0, -5px) rotate(20deg);
  }

  40% {
    transform: translate(0, -5px) rotate(-20deg);
  }

  55% {
    transform: translate(0, -5px) rotate(20deg);
  }

  70% {
    transform: translate(0, -5px) rotate(-20deg);
  }

  85% {
    transform: translate(0, -5px) rotate(0);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes anim_phone {
  0% {
    transform: translate(0, 0) rotate(0);
  }

  10% {
    transform: translate(0, -5px) rotate(0);
  }

  25% {
    transform: translate(0, -5px) rotate(20deg);
  }

  40% {
    transform: translate(0, -5px) rotate(-20deg);
  }

  55% {
    transform: translate(0, -5px) rotate(20deg);
  }

  70% {
    transform: translate(0, -5px) rotate(-20deg);
  }

  85% {
    transform: translate(0, -5px) rotate(0);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@-webkit-keyframes anim_contact {
  0% {
    transform: translate(0, 0) scale(1);
  }

  10% {
    transform: translate(0, -8px) scale(1);
  }

  25% {
    transform: translate(0, -8px) scale(0.9);
  }

  40% {
    transform: translate(0, -8px) scale(1);
  }

  55% {
    transform: translate(0, -8px) scale(0.9);
  }

  70% {
    transform: translate(0, -8px) scale(1);
  }

  85% {
    transform: translate(0, -8px) scale(1);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

@keyframes anim_contact {
  0% {
    transform: translate(0, 0) scale(1);
  }

  10% {
    transform: translate(0, -8px) scale(1);
  }

  25% {
    transform: translate(0, -8px) scale(0.9);
  }

  40% {
    transform: translate(0, -8px) scale(1);
  }

  55% {
    transform: translate(0, -8px) scale(0.9);
  }

  70% {
    transform: translate(0, -8px) scale(1);
  }

  85% {
    transform: translate(0, -8px) scale(1);
  }

  100% {
    transform: translate(0, 0) rotate(0);
  }
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  background-color: #F8F8F9;
}

::-webkit-scrollbar-thumb {
  background-color: #4878F5;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #3a63ca;
}

.container {
  max-width: 1228px;
  margin: 0 auto;
  padding: 0px 10px;
}

.wrapper {
  overflow: hidden;
  font-family: "Open Sans", sans-serif;
  background-color: #F8F8F9;
}

.wrapper .get_contact_button {
  transform: translate(100vw, 0);
  position: fixed;
  z-index: 45;
  bottom: 130px;
  right: 10vw;
  cursor: pointer;
  -webkit-animation: anim_contact 2s linear 3s infinite normal none;
          animation: anim_contact 2s linear 3s infinite normal none;
}

.wrapper .get_contact_button:hover {
  transform: scale(0.9);
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.wrapper .get_contact_button._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .madal_window__block .madal_window .body .user_name_block .input,
.wrapper .madal_window__block .madal_window .body .phone_block .input,
.wrapper .madal_window__block .madal_window .body .problem_block .input {
  width: 90%;
  height: 40px;
  border: 1px solid #4A4A4B;
}

.wrapper .madal_window__block .madal_window .body .user_name_block .input input,
.wrapper .madal_window__block .madal_window .body .phone_block .input input,
.wrapper .madal_window__block .madal_window .body .problem_block .input textarea {
  width: 100%;
  height: 100%;
  padding: 10px;
  font-size: 16px;
}

.wrapper .madal_window__block .madal_window .body .user_name_block .user_name,
.wrapper .madal_window__block .madal_window .body .phone_block .phone_title,
.wrapper .madal_window__block .madal_window .body .problem_block .problem_title {
  font-size: 20px;
  font-weight: 600;
  margin-bottom: 10px;
}

.wrapper .madal_window__block {
  transition-duration: 1s;
  opacity: 0;
  visibility: hidden;
  position: fixed;
  background-color: rgba(72, 120, 245, 0.5);
  width: 100vw;
  height: 100vh;
  z-index: 70;
}

.wrapper .madal_window__block .madal_window {
  transition-duration: 1s;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(100vw, -50%);
  width: 400px;
  height: 430px;
  background-color: #F8F8F9;
  padding: 20px;
}

.wrapper .madal_window__block .madal_window .close {
  position: absolute;
  right: 20px;
  top: 30px;
  width: 20px;
  height: 20px;
  cursor: pointer;
}

.wrapper .madal_window__block .madal_window .close:hover {
  transform: scale(0.9);
}

.wrapper .madal_window__block .madal_window .close::before,
.wrapper .madal_window__block .madal_window .close::after {
  position: absolute;
  content: "";
  background-color: #4A4A4B;
  height: 5px;
  width: 20px;
}

.wrapper .madal_window__block .madal_window .close::before {
  transform: rotate(-45deg);
}

.wrapper .madal_window__block .madal_window .close::after {
  transform: rotate(45deg);
}

.wrapper .madal_window__block .madal_window .body {
  position: relative;
  top: 25px;
}

.wrapper .madal_window__block .madal_window .body .user_name_block {
  margin-bottom: 20px;
}

.wrapper .madal_window__block .madal_window .body .user_name_block .input._error {
  border: 1px solid #E91D1D;
}

.wrapper .madal_window__block .madal_window .body .phone_block {
  margin-bottom: 20px;
}

.wrapper .madal_window__block .madal_window .body .phone_block .input._error {
  border: 1px solid #E91D1D;
}

.wrapper .madal_window__block .madal_window .body .problem_block {
  margin-bottom: 20px;
}

.wrapper .madal_window__block .madal_window .body .problem_block .input {
  height: 80px;
}

.wrapper .madal_window__block .madal_window .body .problem_block .input textarea {
  overflow-y: auto;
  overflow-x: hidden;
  resize: none;
}

.wrapper .madal_window__block .madal_window .button__block .button {
  display: block;
  position: absolute;
  bottom: 10px;
  left: 10px;
  width: 95%;
  background-color: #4878F5;
  padding: 20px;
  font-size: 22px;
  color: #F8F8F9;
  text-transform: none;
  line-height: 20px;
  text-align: center;
}

.wrapper .madal_window__block .madal_window .button__block .button:hover {
  background-color: #1c4dca;
}

.wrapper .madal_window__block.active {
  transition-duration: 1s;
  opacity: 1;
  visibility: visible;
}

.wrapper .madal_window__block.active .madal_window {
  transition-duration: 1s;
  position: relative;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.wrapper .wrapper__grid {
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-rows: 100px auto 1fr;
  grid-template-rows: 100px auto 1fr;
}

.wrapper .wrapper__grid .header {
  transform: translate(-100%, 0);
  position: relative;
  z-index: 60;
  width: 100%;
  height: 100px;
  background-color: #4878F5;
}

.wrapper .wrapper__grid .header .container {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
}

.wrapper .wrapper__grid .header .container .header__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .logo {
  width: 100px;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .logo .logo__row {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .logo .logo__row .logo__item:first-child {
  margin-right: 6px;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .logo .logo__row .logo__item p {
  font-size: 26px;
  font-weight: 600;
  color: #F8F8F9;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .logo .logo__row .logo__item span {
  color: #130FE4;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone {
  position: relative;
  z-index: 61;
  width: 285px;
  height: 45px;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img {
  display: block;
  width: 46px;
  height: 46px;
  cursor: pointer;
  -webkit-animation: anim_phone 2s linear 3s infinite normal none;
          animation: anim_phone 2s linear 3s infinite normal none;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../img/phoneIcon.png");
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__img:hover .img {
  background: url("../img/phoneIcon (1).png");
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__namber:hover {
  text-decoration: underline;
}

.wrapper .wrapper__grid .header .container .header__row .header__item .phone .phone__row .phone__item .phone__namber {
  cursor: pointer;
  font-size: 26px;
  font-weight: 600;
  color: #F8F8F9;
}

.wrapper .wrapper__grid .header._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .main {
  width: 100%;
  height: 700px;
  position: relative;
  background-color: #F8F8F9;
}

.wrapper .wrapper__grid .content .main .container {
  position: relative;
}

.wrapper .wrapper__grid .content .main .container .main__block {
  position: relative;
  top: 0;
  height: 700px;
}

.wrapper .wrapper__grid .content .main .container .main__block .title__container {
  transform: translate(-100vw, 0);
  position: absolute;
  z-index: 57;
  height: 700px;
  width: 45%;
}

.wrapper .wrapper__grid .content .main .container .main__block .title__container .title {
  position: relative;
  top: 50%;
  transform: translate(0, -50%);
  z-index: 5;
}

.wrapper .wrapper__grid .content .main .container .main__block .title__container::after {
  content: "";
  position: absolute;
  left: 87.4%;
  top: 0;
  width: 0;
  height: 0;
  border-top: 700px solid #F8F8F9;
  border-left: 1px solid transparent;
  border-right: 340px solid transparent;
}

.wrapper .wrapper__grid .content .main .container .main__block .title__container._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .main .container .main__block .main__imeg {
  transform: translate(100vw, 0);
  position: absolute;
  left: 39.5%;
  z-index: 55;
}

.wrapper .wrapper__grid .content .main .container .main__block .main__imeg .imeg-container {
  overflow: hidden;
  max-height: 700px;
}

.wrapper .wrapper__grid .content .main .container .main__block .main__imeg .imeg-container img {
  width: 60vw;
  height: 700px;
  -o-object-fit: cover;
     object-fit: cover;
}

.wrapper .wrapper__grid .content .main .container .main__block .main__imeg::before {
  content: "";
  position: absolute;
  z-index: 1;
  width: 100vw;
  height: 700px;
  background-color: #0F4BE4;
  opacity: 0.4;
}

.wrapper .wrapper__grid .content .main .container .main__block .main__imeg._active {
  transition: all 2s ease 0.5s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .main .go_contact {
  transform: translate(-100%, 0);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 355px;
  height: 100px;
  z-index: 65;
  background: url("../img/Rectangle 2.png");
}

.wrapper .wrapper__grid .content .main .go_contact .go_contact__row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__text {
  max-width: 180px;
  color: #F8F8F9;
  font-size: 24px;
  opacity: 1;
  line-height: 35px;
  text-transform: none;
}

.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__img {
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__img .img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../img/Button.png");
}

.wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__img:hover .img {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .content .main .go_contact._active {
  transition: all 2s ease 2s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content nav {
  background-color: #F8F8F9;
}

.wrapper .wrapper__grid .content nav .container .title {
  max-width: 860px;
  text-align: center;
  margin: 90px auto 120px auto;
  transform: translate(0, -300%);
}

.wrapper .wrapper__grid .content nav .container .title._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content nav .container .body {
  max-width: 830px;
  margin: 0 auto;
}

.wrapper .wrapper__grid .content .problem {
  position: relative;
  z-index: 26;
}

.wrapper .wrapper__grid .content .problem .container .problem__block {
  min-height: 575px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .title {
  position: relative;
  z-index: 26;
  background-color: #F8F8F9;
  opacity: 0;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .title span {
  color: #E91D1D;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .title._active {
  transition: all 2s ease 2s;
  transform: translate(0, 0);
  -webkit-animation: opacity_problem 0.2s ease 3s normal forwards;
          animation: opacity_problem 0.2s ease 3s normal forwards;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body {
  position: relative;
  z-index: 25;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container {
  max-width: 1040px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item {
  margin-bottom: 20px;
  width: 145px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column .item__image {
  margin: 0;
  margin-bottom: 15px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item .item__column .item__title {
  text-align: center;
  background-color: #F8F8F9;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .contact {
  transform: translate(-135%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .contact .item__column .item__image img {
  width: 45px;
  height: 45px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .contact._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .run {
  transform: translate(-275%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .run .item__column .item__image img {
  width: 55px;
  height: 40px;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .run._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .goodjob {
  transform: translate(-410%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .goodjob._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .body__item_arrow {
  width: 55px;
  height: 43px;
  margin: 3% 0;
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow1 {
  transform: translate(-170%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow1._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow2 {
  transform: translate(-530%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow2._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow3 {
  transform: translate(-900%, 0);
}

.wrapper .wrapper__grid .content .problem .container .problem__block .body .body__container .body__row .arrow3._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .about_us {
  position: relative;
  z-index: 25;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block {
  min-height: 860px;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .title {
  position: relative;
  z-index: 25;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body {
  position: relative;
  z-index: 24;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container {
  max-width: 1130px;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row {
  display: flex;
  justify-content: space-between;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list {
  max-width: 555px;
  margin-right: 20px;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  background-color: #F8F8F9;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li span {
  font-size: 24px;
  max-width: 340px;
  line-height: 33px;
}

.wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li:first-child .li__imeg img {
  top: 55%;
}

.wrapper .wrapper__grid .content .what_we {
  position: relative;
  z-index: 24;
}

.wrapper .wrapper__grid .content .what_we .container .what__block {
  min-height: 600px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .title {
  position: relative;
  z-index: 24;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body {
  position: relative;
  z-index: 23;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container {
  max-width: 830px;
  min-height: 100%;
  margin: 0 auto;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item {
  max-width: 145px;
  margin-right: 20px;
  margin-bottom: 30px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__image {
  margin-bottom: 15px;
  margin-right: 0;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__title {
  font-size: 20px;
  margin-bottom: 15px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item .item__column .item__subtitle {
  text-align: center;
  opacity: 0.6;
  font-weight: 400;
  line-height: 20px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item:first-child .item__column .item__image img {
  top: 55%;
  left: 55%;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item:nth-child(2) .item__column .item__image img {
  top: 52%;
  left: 52%;
  width: 50px;
  height: 45px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item:nth-child(3) .item__column .item__image img {
  width: 38px;
  height: 45px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item:last-child {
  margin-right: 0;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .body .body__container .body__row .body__item:last-child .item__column .item__image img {
  width: 45px;
  height: 45px;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact {
  transform: translate(-100%, 0);
  position: absolute;
  bottom: 0px;
  left: 0;
  width: 355px;
  height: 100px;
  z-index: 65;
  background: url("../img/Rectangle 2.png");
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row {
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__text {
  max-width: 180px;
  color: #F8F8F9;
  font-size: 24px;
  opacity: 1;
  line-height: 35px;
  text-transform: none;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__img {
  cursor: pointer;
  position: relative;
  z-index: 4;
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__img .img {
  width: 65px;
  height: 65px;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../img/Button.png");
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__img:hover .img {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .content .what_we .container .what__block .go_contact._active {
  transition: all 2s ease 2s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .prise {
  position: relative;
  z-index: 23;
}

.wrapper .wrapper__grid .content .prise .container {
  min-height: 950px;
  position: relative;
}

.wrapper .wrapper__grid .content .prise .container .title {
  position: relative;
  z-index: 23;
}

.wrapper .wrapper__grid .content .prise .container .body {
  position: relative;
  z-index: 22;
  margin-bottom: 105px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container {
  max-width: 720px;
  margin: 0 auto;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: minmax(auto, 195px) 1fr minmax(auto, 145px);
  grid-template-columns: minmax(auto, 195px) 1fr minmax(auto, 145px);
  -ms-grid-rows: 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr 15px 1fr;
  grid-template-rows: repeat(10, 1fr);
      grid-template-areas: "title_kind none title_prise"
 "kind1 arrows1 prise1"
 "kind2 arrows2 prise2"
 "kind3 arrows3 prise3"
 "kind4 arrows4 prise4"
 "kind5 arrows5 prise5"
 "kind6 arrows6 prise6"
 "kind7 arrows7 prise7"
 "kind8 arrows8 prise8"
 "kind9 arrows9 prise9";
  row-gap: 15px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .title_kind {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: title_kind;
  font-size: 28px;
  line-height: 35px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .title_prise {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: title_prise;
  font-size: 28px;
  line-height: 35px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind1 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: kind1;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows1 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: arrows1;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise1 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: prise1;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind2 {
  -ms-grid-row: 5;
  -ms-grid-column: 1;
  grid-area: kind2;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows2 {
  -ms-grid-row: 5;
  -ms-grid-column: 2;
  grid-area: arrows2;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise2 {
  -ms-grid-row: 5;
  -ms-grid-column: 3;
  grid-area: prise2;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind3 {
  -ms-grid-row: 7;
  -ms-grid-column: 1;
  grid-area: kind3;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows3 {
  -ms-grid-row: 7;
  -ms-grid-column: 2;
  grid-area: arrows3;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise3 {
  -ms-grid-row: 7;
  -ms-grid-column: 3;
  grid-area: prise3;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind4 {
  -ms-grid-row: 9;
  -ms-grid-column: 1;
  grid-area: kind4;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows4 {
  -ms-grid-row: 9;
  -ms-grid-column: 2;
  grid-area: arrows4;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise4 {
  -ms-grid-row: 9;
  -ms-grid-column: 3;
  grid-area: prise4;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind5 {
  -ms-grid-row: 11;
  -ms-grid-column: 1;
  grid-area: kind5;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows5 {
  -ms-grid-row: 11;
  -ms-grid-column: 2;
  grid-area: arrows5;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise5 {
  -ms-grid-row: 11;
  -ms-grid-column: 3;
  grid-area: prise5;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind6 {
  -ms-grid-row: 13;
  -ms-grid-column: 1;
  grid-area: kind6;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows6 {
  -ms-grid-row: 13;
  -ms-grid-column: 2;
  grid-area: arrows6;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise6 {
  -ms-grid-row: 13;
  -ms-grid-column: 3;
  grid-area: prise6;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind7 {
  -ms-grid-row: 15;
  -ms-grid-column: 1;
  grid-area: kind7;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows7 {
  -ms-grid-row: 15;
  -ms-grid-column: 2;
  grid-area: arrows7;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise7 {
  -ms-grid-row: 15;
  -ms-grid-column: 3;
  grid-area: prise7;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind8 {
  -ms-grid-row: 17;
  -ms-grid-column: 1;
  grid-area: kind8;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows8 {
  -ms-grid-row: 17;
  -ms-grid-column: 2;
  grid-area: arrows8;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise8 {
  -ms-grid-row: 17;
  -ms-grid-column: 3;
  grid-area: prise8;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind9 {
  -ms-grid-row: 19;
  -ms-grid-column: 1;
  grid-area: kind9;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows9 {
  -ms-grid-row: 19;
  -ms-grid-column: 2;
  grid-area: arrows9;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise9 {
  -ms-grid-row: 19;
  -ms-grid-column: 3;
  grid-area: prise9;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .kind {
  font-size: 28px;
  font-weight: 400;
  background-color: #F8F8F9;
  position: relative;
  z-index: 23;
  line-height: 35px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row {
  display: flex;
  justify-content: space-evenly;
  position: relative;
  z-index: 22;
  padding: 0 10px;
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item {
  transform: translate(-300%, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item {
  transform: translate(-300%, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item:last-child {
  transform: translate(-500%, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item:last-child._active {
  transition: all 2s ease 0s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .prise {
  font-size: 28px;
  font-weight: 400;
  line-height: 35px;
}

.wrapper .wrapper__grid .content .prise .prompt {
  position: absolute;
  bottom: 0;
  right: 10vw;
  transform: translate(100vw, 0);
}

.wrapper .wrapper__grid .content .prise .prompt .text-container {
  position: relative;
  right: 20px;
  max-width: 290px;
}

.wrapper .wrapper__grid .content .prise .prompt .text-container .text {
  font-size: 24px;
  font-weight: 400;
  line-height: 33px;
}

.wrapper .wrapper__grid .content .prise .prompt .arrow {
  position: absolute;
  bottom: 0;
  right: 0;
}

.wrapper .wrapper__grid .content .prise .prompt._active {
  transition: all 2s ease 1s;
  transform: translate(0, 0);
  transform: translate(-75px, 0);
}

.wrapper .wrapper__grid .content .marcs {
  position: relative;
  z-index: 22;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block {
  min-height: 685px;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .title {
  position: relative;
  z-index: 22;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body {
  position: relative;
  z-index: 21;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container {
  max-width: 1030px;
  height: 200px;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__row {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  margin-bottom: 85px;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__row .body__item {
  margin-right: 20px;
  margin-bottom: 20px;
  width: 120px;
  height: auto;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__row .body__item img {
  width: 100%;
  height: 100%;
  -o-object-fit: fill;
     object-fit: fill;
}

.wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__subtitle {
  font-size: 18px;
  line-height: 25px;
  opacity: 0.5;
  text-transform: none;
  width: 180px;
  margin: 0 auto;
}

.wrapper .wrapper__grid .footer {
  position: relative;
  z-index: 21;
  background-color: #4878F5;
  height: 535px;
}

.wrapper .wrapper__grid .footer .container .footer__row {
  height: 535px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .map {
  position: relative;
  z-index: 40;
  margin-right: 40px;
  transform: translate(-100vw, 0);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .map._active {
  transition: all 2s ease 1s;
  transform: translate(0, 0);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container {
  max-width: 365px;
  min-height: 465px;
  transform: translate(100vw, 0);
  position: relative;
  z-index: 40;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column {
  height: 345px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: flex-start;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .title {
  opacity: 1;
  font-size: 35px;
  color: #F8F8F9;
  text-align: left;
  position: relative;
  right: 3px;
  margin-bottom: 25px;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .region {
  opacity: 1;
  font-size: 20px;
  color: #F8F8F9;
  text-align: left;
  font-weight: 400;
  margin-bottom: 30px;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone {
  position: relative;
  z-index: 40;
  max-width: 300px;
  margin-bottom: 25px;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img {
  width: 46px;
  height: 46px;
  cursor: pointer;
  margin-right: 15px;
  -webkit-animation: anim_phone 2s linear 3s infinite normal none;
          animation: anim_phone 2s linear 3s infinite normal none;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img .img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  background: url("../img/phoneIcon.png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img:hover {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__img:hover .img {
  background: url("../img/phoneIcon (1).png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__namber:hover {
  text-decoration: underline;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .phone .phone__row .phone__item .phone__namber {
  cursor: pointer;
  font-size: 24px;
  font-weight: 400;
  color: #F8F8F9;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers {
  position: relative;
  z-index: 45;
  width: 270px;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .facebook {
  background: url("../img/face.png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .facebook:hover {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .instagram {
  background: url("../img/inst.png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .instagram:hover {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .viber {
  background: url("../img/wac.png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .viber:hover {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .telegram {
  background: url("../img/tele.png");
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .messengers .messengers__row .telegram:hover {
  transform: scale(0.9);
}

.wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container._active {
  transition: all 2s ease 1s;
  transform: translate(0, 0);
}

@media (max-width: 1248px) {
  .container {
    max-width: 100vw;
  }
}

@media (max-width: 1024px) {
  .wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row {
    justify-content: center;
  }

  .wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .body__imeg {
    display: none;
  }
}

@media (max-width: 1020px) {
  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:first-child {
    width: 55vw;
    margin-right: 40px;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:first-child .map {
    width: 100%;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:first-child .map iframe {
    width: 100%;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child {
    margin-right: 0;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child .contact__container .contact__column .messengers {
    width: 100%;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child .contact__container .contact__column .messengers .messengers__row {
    display: flex;
    justify-content: start;
    flex-wrap: wrap;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child .contact__container .contact__column .messengers .messengers__row .facebook,
  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child .contact__container .contact__column .messengers .messengers__row .instagram,
  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child .contact__container .contact__column .messengers .messengers__row .viber {
    margin-right: 20px;
  }
}

@media (max-width: 845px) {
  .wrapper .wrapper__grid .footer {
    height: 900px;
  }

  .wrapper .wrapper__grid .footer .container .footer__row {
    height: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:first-child {
    margin-top: -100px;
    margin-right: 0;
    width: 80vw;
    order: 2;
  }

  .wrapper .wrapper__grid .footer .container .footer__row .footer__item:last-child {
    margin-top: 50px;
    margin-right: 0;
    order: 1;
  }
}

@media (max-width: 768px) {
  .wrapper .wrapper__grid .content .main .container .main__block .title__container {
    transform: translate(-100vw, 0);
    position: absolute;
    z-index: 57;
    height: 700px;
    width: 60%;
  }

  .wrapper .wrapper__grid .content .main .container .main__block .title__container .title {
    position: relative;
    z-index: 5;
    font-size: 40px;
    font-weight: 700;
    line-height: 54px;
    text-align: center;
    text-transform: uppercase;
    color: white;
    background-color: none;
  }

  .wrapper .wrapper__grid .content .main .container .main__block .title__container::after {
    display: none;
  }

  .wrapper .wrapper__grid .content .main .container .main__block .title__container._active {
    transition: all 2s ease 0s;
    transform: translate(0, 0);
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0);
  }

  .wrapper .wrapper__grid .content .main .container .main__block .main__imeg {
    position: absolute;
    left: 0;
    transform: translate(100vw, 0);
  }

  .wrapper .wrapper__grid .content .main .container .main__block .main__imeg .imeg-container img {
    width: 100vw;
  }

  .wrapper .wrapper__grid .content .main .container .main__block .main__imeg._active {
    transform: translate(-10px, 0);
  }

  .wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item:nth-child(2) {
    display: none;
  }

  .wrapper .wrapper__grid .content .prise .container .body .body__container .body__grid .arrows__row .arrows__item:last-child {
    display: none;
  }
}

@media (max-width: 660px) {
  .wrapper .wrapper__grid .content .what_we .container .what__block {
    min-height: 900px;
  }
}

@media (max-width: 555px) {
  .wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list {
    width: 90vw;
  }

  .wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li .li__imeg {
    width: 80px;
  }

  .wrapper .wrapper__grid .content .about_us .container .about_us__block .body .body__container .body__row .body__item .list li span {
    width: 60vw;
    overflow-x: scroll;
  }
}

@media (max-width: 550px) {
  .wrapper .wrapper__grid .content .main .go_contact {
    width: 100vw;
    background: none;
    background-color: #4878F5;
  }

  .wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__text {
    max-width: 220px;
  }

  .wrapper .wrapper__grid .content .what_we .container .what__block .go_contact {
    width: 100vw;
    background: none;
    background-color: #4878F5;
  }

  .wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__text {
    max-width: 220px;
  }
}

@media (max-width: 530px) {
  .wrapper .wrapper__grid .header {
    height: 200px;
  }

  .wrapper .wrapper__grid .header .container .header__row {
    justify-content: start;
  }

  .wrapper .wrapper__grid .header .container .header__row .header__item {
    margin: 20px 100px 10px 0;
  }
}

@media (max-width: 520px) {
  .wrapper .madal_window__block .madal_window .button__block .button,
  .wrapper .wrapper__grid .content .main .container .main__block .title__container .title,
  .wrapper .wrapper__grid .content .main .go_contact .go_contact__row .go_contact__item .go_contact__text,
  .wrapper .wrapper__grid .content nav .container .title,
  .wrapper .wrapper__grid .content .what_we .container .what__block .go_contact .go_contact__row .go_contact__item .go_contact__text,
  .wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__subtitle,
  .wrapper .wrapper__grid .footer .container .footer__row .footer__item .contact__container .contact__column .title {
    font-size: 30px;
  }
}

@media (max-width: 450px) {
  .wrapper .wrapper__grid .content .marcs .container .marcs__block {
    min-height: 800px;
  }

  .wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__row {
    margin-bottom: 230px;
  }

  .wrapper .wrapper__grid .content .marcs .container .marcs__block .body .body__container .body__subtitle {
    font-size: 18px;
  }
}

@media (max-width: 425px) {
  .wrapper .wrapper__grid .content .prise {
    display: none;
  }
}
